.top {
	text-align: center;
}

.top--colum__list {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-left: 0;
}

.top--colum__list-contents {
	padding: 20px;
	cursor: pointer;
}

.top--contents {
	padding: 40px;
}
